/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
/* Footer Font */
@font-face {
  font-family: "Sigmar One";
  src: url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap') format("opentype");
}
/* End Font */
.footer {
  font-family: "Sigmar One", cursive;
  position: absolute;
  bottom: 15px;
  left: 10px;
  width: 99%;
  height: 80px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #01ffd3;
  text-align:center;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/*This is for the icons*/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  margin-left : 30px;
}

.fa:hover {
  opacity: 0.7;
}

/* End Icons */
/*
  Icon Styles
 */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}
/*End Icon individual styles */

/* copyright Starts */
  .copyright {
    font-family: "Sigmar One", cursive;
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 99%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #01ffd3;
    text-align: center;
  }
/* copyright ends */
