.container {
  background: url('./images/Signup-BackgroundImage.jpg')  no-repeat center center fixed;
  height: 85vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

mat-card {
  margin: auto;
  max-width: 400px;
}
mat-form-field {
  width: 100%;
}

/*mat-spinner {
  margin: auto;
}
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}*/
