<!--div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="news/articles/1" class="btn btn-primary">Go somewhere</a>
  </div>
</div-->

<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let event of specialEvents;let i=index">
    <div class="card text-center">
      <img class="card-img-top" [src]="imageUrl[i]"  height="200px" width="250px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          {{event.title + event.aid }}
        </h5>
        <p class="card-text">
          {{event.description}}
        </p>
        <li (click)='onSelect(event)' class="btn btn-primary">Click me</li>
      </div>
    </div>
    <div class="card-footer text-muted">
      {{event.quote }}
    </div>
  </div>
</div>
