<mat-toolbar style="background-color: #01ffd3">
  <mat-toolbar-row>
      <!-- nav bar start -->
        <a mat-button
          routerLink="/home" routerLinkActive="active">
          <mat-icon class="icon">home</mat-icon>
          <span class="label" style="font-size:25px;"> HOME</span>
        </a>
        <a mat-button
           routerLink="/about">
          <mat-icon class="icon">description</mat-icon>
          <span class="label" style="font-size:25px;"> ABOUT </span>
        </a>
        <a mat-button
           routerLink="/news">
          <mat-icon class="icon"> perm_media </mat-icon>
          <span class="label" style="font-size:25px;"> NEWS </span>
        </a>

        <span class="spacer"></span>

        <a mat-button
           routerLink="/login">
          <mat-icon class="icon">input</mat-icon>
          <span class="label" style="font-size:25px;"> LOGIN </span>
        </a>
        <a mat-button
           routerLink="/signup">
          <mat-icon class="icon">account_circle</mat-icon>
          <span class="label" style="font-size:25px;"> SIGNUP </span>
        </a>
    <!-- nav bar end -->
  </mat-toolbar-row>
</mat-toolbar>
