<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
<mat-toolbar>
  <mat-toolbar-row fxShow="true" fxHide.lt-md="true">
    <a mat-button
       routerLink="/home" [routerLinkActive]="['active']">
      <mat-icon class="icon">home</mat-icon>
      <span class="label" style="font-size:25px;"> {{title}}</span>
    </a>
    <a mat-button
       routerLink="/about" [routerLinkActive]="['active']">
      <mat-icon class="icon">description</mat-icon>
      <span class="label" style="font-size:25px;"> ABOUT </span>
    </a>
    <a mat-button
       routerLink="/news" [routerLinkActive]="['active']">
      <mat-icon class="icon"> perm_media </mat-icon>
      <span class="label" style="font-size:25px;"> NEWS </span>
    </a>

    <span class="spacer"></span>

    <a mat-button
       routerLink="/login" [routerLinkActive]="['active']" *ngIf="!_authService.loggedIn()">
      <mat-icon class="icon"> input </mat-icon>
      <span class="label" style="font-size:25px;"> LOGIN </span>
    </a>
    <a mat-button
       routerLink="/signup" [routerLinkActive]="['active']" *ngIf="!_authService.loggedIn()">
      <mat-icon class="icon"> account_circle </mat-icon>
      <span class="label" style="font-size:25px;"> SIGNUP </span>
    </a>
    <a mat-button
       routerLink="/signup" [routerLinkActive]="['active']" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">
      <mat-icon class="icon">account_circle</mat-icon>
      <span class="label" style="font-size:25px;"> Logout </span>
    </a>
  </mat-toolbar-row>

    <mat-toolbar-row fxShow="true" fxHide.gt-sm="true">
      <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon">menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a mat-button
             routerLink="/home" [routerLinkActive]="['active']">
            <mat-icon class="icon">home</mat-icon>
            <span class="label" style="font-size:25px;"> {{title}}</span>
          </a>
        </button>

        <button mat-menu-item>
          <a mat-button
             routerLink="/about" [routerLinkActive]="['active']">
            <mat-icon class="icon">description</mat-icon>
            <span class="label" style="font-size:25px;"> ABOUT </span>
          </a>
        </button>

        <button mat-menu-item>
          <a mat-button
             routerLink="/news" [routerLinkActive]="['active']">
            <mat-icon class="icon"> perm_media </mat-icon>
            <span class="label" style="font-size:25px;"> NEWS </span>
          </a>
        </button>

        <button mat-menu-item>
          <a mat-button
             routerLink="/signup" [routerLinkActive]="['active']" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">
            <mat-icon class="icon">account_circle</mat-icon>
            <span class="label" style="font-size:25px;"> Logout </span>
          </a>
        </button>

        <button mat-menu-item>
          <a mat-button
             routerLink="/login" [routerLinkActive]="['active']" *ngIf="!_authService.loggedIn()">
            <mat-icon class="icon">input</mat-icon>
            <span class="label" style="font-size:25px;"> LOGIN </span>
          </a>
        </button>

        <button mat-menu-item>
          <a mat-button
             routerLink="/signup" [routerLinkActive]="['active']" *ngIf="!_authService.loggedIn()">
            <mat-icon class="icon">account_circle</mat-icon>
            <span class="label" style="font-size:25px;"> SIGNUP </span>
          </a>
        </button>

      </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
