<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
<hr>
<h2 class="text-center" style='font-family: "Sigmar One", cursive'>Proudly Supported By</h2>
<div class="container-fluid container-xl mycontainer">
  <br>
  <div class="row gap-3">
    <div class="col d-flex justify-content-center">
      <a href="https://shop.adidas.co.in/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/Adidas.jpg"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://www.brooksrunning.com/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/brooks.png"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://www.hokaoneone.com/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/hokaoneone.png"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://www.sportiva.com/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/lasportiva.png"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://www.kalenji.co.uk/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/kalenji.png"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://www.newbalance.com/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/newbalance.png"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://salomon.com.au/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/salomon.png"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://www.sauconyindia.com/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/saucony.png"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://www.asics.com/in/en-in" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/asics.png"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://www.nike.com/in/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/nike.png"/></a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://in.puma.com/" target="_blank"><img alt="partner" width="150" height="100" src="../../assets/images/partners/puma.png"/></a>
    </div>
  </div>
  <br>
</div>
<br>
