<h2 class="text-center" style='font-family: "Sigmar One", cursive'>Activities</h2>
<div class="container-fluid container-xxl" style="border: solid 2px;border-color:#01ffd3;">
  <br>
  <div class="row gap-3">
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <br>
        <img src="../../assets/images/home/home-act-img1.jpg" width="200" height="150" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Social Media Policy</h5>
          <p class="card-text">
            In our Club, we believe social media is an important means
            of connecting with our fans and communities all over the
            world. We use our channels on social media platforms to
            inform and entertain, to share our stories and make you as fans
            feel welcome, valued and included as a part of this Club.
          </p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <br>
        <img src="../../assets/images/home/home-act-img2.jpg" width="200" height="150" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Safeguarding</h5>
          <p class="card-text">
            Executives were also appointed in 2017 to carry out an independent review into current
            safeguarding practice and culture at the Club.
            As the report includes sensitive live safeguarding information, it cannot be published in full.
            make you as fans feel welcome, valued and included as a part of this Club.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
