<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@550&display=swap" rel="stylesheet">
<br>
<blockquote class="blockquote" style="font-family: 'Dancing Script', cursive;font-size: xxx-large;width: 80%;margin: auto;line-height: 50px;">
  "Individual commitment to a group effort--that is what makes a team work, a company work, a society work, a civilization work."
</blockquote>

<div>
  <h2>Executives</h2>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="img-box"><img src="../../assets/images/about/about-img1.jpg" alt=""></div>
        <p class="testimonial">Sportify didn’t just build the Internet. We keep building it. And while our technology helps to connect the unconnected and inspires the world — that’s not where our edge comes from.

        </p>
        <p class="overview"><b>Michael Holz</b></p>
      </div>
      <div class="carousel-item">
        <div class="img-box"><img src="../../assets/images/about/about-img2.jpg" alt=""></div>
        <p class="testimonial">Sportify didn’t just build the Internet. We keep building it. And while our technology helps to connect the unconnected and inspires the world — that’s not where our edge comes from.

        </p>
        <p class="overview"><b>Paula Wilson</b></p>
      </div>
      <div class="carousel-item">
        <div class="img-box"><img src="../../assets/images/about/about-img3.jpg" alt=""></div>
        <p class="testimonial">Sportify didn’t just build the Internet. We keep building it. And while our technology helps to connect the unconnected and inspires the world — that’s not where our edge comes from.

        </p>
        <p class="overview"><b>Antonio Moreno</b></p>
      </div>
    </div>
    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<hr>
<h2 style="text-align: center;">Leaders</h2>

<div class="row gap-3">
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <br>
      <img src="../../assets/images/about/about-img4.jpg" height="250px" width="120px" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="text-center">Mark</h2>
        <p class="card-text">
          Born in New York and educated at Colgate University
          and Columbia University School of Law, Bruce Buck
          has been a supporter since coming to
          London in 1983 and a season ticket holder since 1991.
          He is a shareholder in this organisation, the ultimate
          owner of the club, and the company used by
          Roman Abramovich for the takeover in 2003.
        </p>
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <br>
      <img src="../../assets/images/about/about-img6.jpg" height="250px" width="120px" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="text-center">Smith</h2>
        <p class="card-text">
          A long-standing campaigner for equality
          Smith is a former Chief Executive of
          Kick It Out and is the current executive
          director of anti-discrimination and social inclusion
          network, FARE. The organisation specialise in
          countering inequality and exclusion in
          games through co-ordinated action and common efforts.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
