<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">

<div class="container-fluid container-xxl d-flex justify-content-center">
  <form [formGroup]="profileFormGroup" class="formView" (submit)="onSaveChanges()">
    <div class="wrapper" id="wrapper">
      <div *ngIf="profileFormGroup.get('image').valid">
        <img [src]="imageUrl" alt="">
      </div>
      <input
        type="file"
        accept="image/*"
        class="myFile"
        (change)="onImageChange($event)"
        formControlName="image"
      >
    </div>

   <!--<mat-form-field class="formFieldView">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field class="formFieldView">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>-->
    <input type="hidden" formControlName="name">
    <input type="hidden" formControlName="email">

    <mat-form-field class="formFieldView">
      <mat-label>Date Of Birth</mat-label>
      <input matInput formControlName="dob" [matDatepicker]="datepicker" disabled>
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker disabled="false"></mat-datepicker>
    </mat-form-field>

    <br><span>Gender</span><br><br>
    <mat-radio-group formControlName="gender" aria-label="Select an option">
      <mat-radio-button value="male">Male</mat-radio-button>&nbsp;&nbsp;&nbsp;
      <mat-radio-button value="female">Female</mat-radio-button>&nbsp;&nbsp;&nbsp;
      <mat-radio-button value="others">Others</mat-radio-button>&nbsp;&nbsp;&nbsp;
      <mat-radio-button value="not interested to answer">Not interested to Answer</mat-radio-button>
    </mat-radio-group>

    <br><br>
    <mat-form-field class="formFieldView">
      <mat-label>Country</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             formControlName="country"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="formFieldView">
      <mat-label>Interests</mat-label>
      <textarea matInput formControlName="interests" placeholder="Ex. I am interested about..."></textarea>
    </mat-form-field>

    <br><span>Subscribe to our Email Updates</span><br><br>
    <mat-radio-group formControlName="subscribe" aria-label="Select an option">
      <mat-radio-button value="true">Yes</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="false">No</mat-radio-button><br><br>
    </mat-radio-group>
    <br>

    <button type="submit" color="primary" mat-raised-button [disabled]="!profileFormGroup.dirty">Save Changes</button>
  </form>
</div>
<hr>
<div class="container-fluid container-xxl d-flex justify-content-center">
  <button type="button" color="warn" mat-raised-button (click)="deleteAccount()">Delete Account</button>
</div>
<br>

