<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

<!-- Carousel Starts -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/home/homepage-img1.jpg" class="d-block w-100" alt="...">
      <div class="mycaption">
        <p style="font-size: xxx-large;">To Motivate</p>
        <p style="font-size: x-large;line-height: 40px;">"What keeps us going is goals."</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/home/homepage-img2.jpg" class="d-block w-100" alt="...">
      <div class="mycaption">
        <p style="font-size: xxx-large;">To Move Ahead</p>
        <p style="font-size: x-large;line-height: 40px;">
          "Talent wins games, but teamwork and intelligence<br>
          Wins Championships"
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/home/homepage-img3.jpg"  class="d-block w-100" alt="...">
      <div class="mycaption">
        <p style="font-size: xxx-large;">To Overcome</p>
        <p style="font-size: x-large;line-height: 40px;">
          "There will be mistakes.<br>
          But with hard work there are no limits."
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/home/homepage-img4.jpg" class="d-block w-100" alt="...">
      <div class="mycaption">
        <p style="font-size: xxx-large">To Conquer</p>
        <p style="font-size: x-large;line-height: 40px;">
          "Under pressure, we work as a team to win."
        </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel Ends -->
