.outer{
  background: url('../../assets/images/signup/Signup-BackgroundImage.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
mat-vertical-stepper {
  font-family: 'Squada One', cursive;
  background: transparent;
  color: white;
}

mat-label,mat-error{
  color: yellow;
  width: inherit;
  text-shadow: 1px 1px black;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.form-label{
  color: yellow;
  text-shadow: 1px 1px black;
  font-family: 'Squada One', cursive;
  font-size: 30px;
}

